body {
    background-image: url("graph.png");
}

#wrapper {
	margin-left:25%;
	margin-right:25%;
}

#equation {
	font-size: 70px;
	font-weight: 700;
	text-align: center;
}

#buttons {
	text-align: center;
}

#title-div{
	text-align: center;
}

#simplify-div{
	text-align: center;
}

#msg{
	text-align: center;
}