body {
    background-image: url("img/graph.png");
}

#wrapper {
	margin-left:15%;
	margin-right:15%;
}

#equation {
	font-size: 70px;
	font-weight: 700;
	text-align: center;
}

#equation, .big-text {
	font-family: 'Leckerli One';
}

#buttons {
	text-align: center;
}

#title-div{
	text-align: center;
}

#simplify-div{
	text-align: center;
}

#msg{
	text-align: center;
}

#init{
	visibility:hidden;
}

.big-text{
	font-size:70px;
	margin-top:10px;
	margin-bottom:10px;
}