<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Algebrator</title>

  </head>
  <body>
    <h1>Algebrator</h1>
    <br>
    <br>
    <span id="left-side" class="side">
    	<span class="variable">{{ a }}</span>x 
    	+ 
    	<span class="variable">{{ b }}</span>
    </span>
    	= 
    <span id="right-side" class="side">
    	<span class="variable">{{ c }}</span>
    </span>
    <br>
    <br>
    <span id="buttons">
		<button id="add" class="btn btn-lg btn-default" onclick="add()">+</button>
		<button id="sub" class="btn btn-lg btn-default" onclick="subtract()">-</button>
		<button id="mult" class="btn btn-lg btn-default" onclick="multiply()">*</button>
		<button id="divide" class="btn btn-lg btn-default" onclick="divide()">/</button>
	</span>
	<br>
	<script>
		function add(){
			$('.variable').attr("onclick", "add_sub('+', this)")
			$('.variable').attr("style", "background:cyan")
			$('#add').removeClass('btn-default').addClass('btn-info')
			add_cancel_button("add")
		}

		function subtract(){
			$('.variable').attr("onclick", "add_sub('-', this)")
			$('.variable').attr("style", "background:cyan")
			$('#sub').removeClass('btn-default').addClass('btn-info')
			add_cancel_button("sub")
		}

		function multiply(){
			$('.variable').attr("onclick", "mult_div('*', this)")
			$('.variable').attr("style", "background:cyan")
			$('#mult').removeClass('btn-default').addClass('btn-info')
			add_cancel_button("mult")
		}

		function divide(){
			$('.variable').attr("onclick", "mult_div('/', this)")
			$('.variable').attr("style", "background:cyan")
			$('#divide').removeClass('btn-default').addClass('btn-info')
			add_cancel_button("divide")
		}

		function add_cancel_button(id){
			$('#buttons').append('<button id="cancel-button" class="btn btn-lg btn-danger" onclick="cancel(\'#'+id+'\')">Cancel</button>')
		}

		function cancel(elem){
			$('.variable').attr("onclick", "")
			$('.variable').attr("style", "background:white")
			$(elem).removeClass('btn-info')
			$(elem).addClass('btn-default')
			$('#cancel-button').remove()
		}

		function add_sub(op, clicked){
			v = $(clicked).text()

			// insert operator followed by the number
			$('.side').append(" " + op + " <span class='variable'>" + v + "</span> ")

			// revert attributes of variable spans
			$('.variable').attr("style", "background:white")
			$('.variable').attr("onclick", "")
		}

		function mult_div(op, clicked){
			v = $(clicked).text()

			// surround both sides with parentheses
			$('.side').prepend('(').append(')')

			// insert operator followed by the number after the parentheses
			$('.side').append(" " + op + ' <span class="variable">' + v + '</span> ')

			// revert attributes of variable spans
			$('.variable').attr("style", "background:white")
			$('.variable').attr("onclick", "")

		}

	</script>
  </body>
</html>