<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/1.2.0/math.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Algebrator</title>

  </head>
  <body>
    <h1>Algebrator</h1>
    <br>
    <span id="left-side" class="side">
    	<span class="variable" id="a">{{ a }}</span>x 
    	+ 
    	<span class="variable" id="b">{{ b }}</span>
    </span>
    	= 
    <span id="right-side" class="side">
    	<span class="variable" id="c">{{ c }}</span>
    </span>
    <br>
    <br>
    <span id="buttons">
    	<!-- 

		Example for the add button
    	<img src="{{ url_for('static', filename='Plus.jpg') }}" onclick="operation(this)" op="+">

    	-->

		<button id="add" class="btn btn-lg btn-default" onclick="operation(this)" op="+">+</button>
		<button id="sub" class="btn btn-lg btn-default" onclick="operation(this)" op="-">-</button>
		<button id="mult" class="btn btn-lg btn-default" onclick="operation(this)" op="*">*</button>
		<button id="divide" class="btn btn-lg btn-default" onclick="operation(this)" op="/">/</button>
	</span>
	<br>
	<button id="simplify" class="btn btn-lg btn-default" onclick="simplify()">Simplify</button>
	<script>
		function operation(clicked){
			op = $(clicked).attr("op")
			$('.variable').attr("onclick")
			if (op == '+' || op == '-'){
				$('.variable').attr('onclick', "add_sub('" + op + "', this)")
			} else {
				$('.variable').attr('onclick', "mult_div('" + op + "', this)")
			}
			highlight_vars()
			add_cancel_button(get_id_from_op(op))
		}

		function add_cancel_button(id){
			$('#buttons').append('<button id="cancel-button" class="btn btn-lg btn-danger" onclick="cancel(\'#'+id+'\')">Cancel</button>')
		}

		function highlight_vars(){
			$('.variable').attr("style", "background:cyan")
		}

		function cancel(elem){
			$('.variable').attr("onclick", "")
			$('.variable').attr("style", "background:white")
			$(elem).removeClass('btn-info')
			$(elem).addClass('btn-default')
			$('#cancel-button').remove()
		}

		function add_sub(op, clicked){
			v = $(clicked).text()

			// insert operator followed by the number
			$('.side').append(" " + op + " <span class='variable'>" + v + "</span> ")

			cancel(get_id_from_op(op))
		}

		function get_id_from_op(op){
			if (op == '+'){
				return "#add"
			}
			if (op == '-'){
				return "#sub"
			}
			if (op == '*'){
				return "#mult"
			}
			if (op == '/'){
				return "#divide"
			}
		}

		function mult_div(op, clicked){
			v = $(clicked).text()

			// surround both sides with parentheses
			$('.side').prepend('(').append(')')

			// insert operator followed by the number after the parentheses
			$('.side').append(" " + op + ' <span class="variable">' + v + '</span> ')

			cancel(get_id_from_op(op))

		}

		function simplify(){
			left = $('#left-side').text() // get left side, strip tags from it
			right = $('#right-side').text() // get right side, strip tags from it

			left = left.replace(/\s/g, "") 
			right = right.replace(/\s/g, "")

			left = left.replace('x', 'i')

			l = math.eval(left)
			r = math.eval(right)

			$('.side').empty()

			left_const = l.re

			if (left_const < 0){
				op = '- '
				left_const = Math.abs(left_const)
			} else {
				op = '+ '
			}

			$('#left-side').append('<span class="variable" id="a">' + l.im + '</span>x <span id="op">' + op + ' </span><span class="variable" id="b">' + left_const + '</span>')

			$('#right-side').append('<span class="variable">' + r + '</span>')

			clean()

		}

		function clean(){
			a = $('#a')
			if (a.text() == '1'){
				a.text('')
			}

			b = $('#b')
			if (b.text() == '0'){
				$('#op').remove()
				b.text('')
			}
		}

	</script>
  </body>
</html>
