<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/1.2.0/math.min.js"></script>
<script src="{{ url_for('static', filename='functions.js') }}"></script>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Algebrator</title>
  </head>
	<body>
	<div id="wrapper">
    <div id="title-div">
    	<img src="{{ url_for('static', filename='Title.png') }}">
	</div>	
    <br>
    <div id="equation">
	    <span id="left-side" class="side">
	    	<span class="variable" id="x-coefficient">{{ a }}</span>x 
	    	{{ op }} 
	    	<span class="variable" id="left-const">{{ b }}</span>
	    </span>
	    	= 
	    <span id="right-side" class="side">
	    	<span class="variable">{{ c }}</span>
	    </span>
	</div>
    <br>

    <div id="buttons">

    	<img src="{{ url_for('static', filename='Plus3.jpg') }}" onclick="operation(this)" op="+" class="op-button">
      	<img src="{{ url_for('static', filename='Minus3.jpg') }}" onclick="operation(this)" op="-" class="op-button">
      	<img src="{{ url_for('static', filename='Times3.jpg') }}" onclick="operation(this)" op="*" class="op-button">
      	<img src="{{ url_for('static', filename='Div3.jpg') }}" onclick="operation(this)" op="/" class="op-button">

	</div>

	<br>
	<div id="simplify-div">
    	<img id="simplify-button" src="{{ url_for('static', filename='Simplify.png') }}" onclick="simplify()">
    </div>
	<div id="msg">
	
	</div>
	</div>
  </body>
</html>
